<div class="alert alert-info" style="background-color:#5d3a8e; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'> Reading datasets</h2>
</div>

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [37]:
# read comment topic modeling
comment_topic = pd.read_csv('./../../../testing_comment_topic.csv')

In [5]:
# read comment sentiment
comment_sentiment = pd.read_parquet('./../../../comment_data_df_sentiment.parquet.gzip')

In [9]:
comment_topic.head()

,comment_id,0,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,comment,user_id,video_id
0,UgxxbiYbyE-8dvwdhhN4AaABAg,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,...,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,Who&#39;s from 2021,UCZ5PuK7lI3nbyJzF6FqGr4A,ClRH1aQuP_Q
1,UgxG1-BosIxdVhhBaAt4AaABAg,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,...,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.405798,Ahhh. So this is what dbrand looked like back ...,UCawT3eZDr1TevBhNHy-0Ilw,ClRH1aQuP_Q
2,Ugy4sBuOaAl16zTyZA14AaABAg,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,...,0.016669,0.516595,0.016669,0.016669,0.016669,0.016669,0.016669,MY GOD,UCv-mX9oG3kSBcxEDHg299KA,ClRH1aQuP_Q
3,UgziFtIlBMiQnPZsggp4AaABAg,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,...,0.016671,0.016671,0.016671,0.016671,0.016671,0.516540,0.016671,2020,UCYMPRzaW0ElU5aLZKpsuEBg,ClRH1aQuP_Q
4,UgzJCQUwyi68Uu7fexp4AaABAg,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,...,0.003047,0.003047,0.003047,0.003047,0.003047,0.771613,0.003047,It’s the year 2020 and little did anyone think...,UC8Vswk4tmtNxb73eipXBLQg,ClRH1aQuP_Q

In [10]:
comment_sentiment.head()

,comment_id,comment,user_id,video_id,sentiment
0,UgxxbiYbyE-8dvwdhhN4AaABAg,Who&#39;s from 2021,UCZ5PuK7lI3nbyJzF6FqGr4A,ClRH1aQuP_Q,0.0000
1,UgxG1-BosIxdVhhBaAt4AaABAg,Ahhh. So this is what dbrand looked like back ...,UCawT3eZDr1TevBhNHy-0Ilw,ClRH1aQuP_Q,0.0000
2,Ugy4sBuOaAl16zTyZA14AaABAg,MY GOD,UCv-mX9oG3kSBcxEDHg299KA,ClRH1aQuP_Q,0.0000
3,UgziFtIlBMiQnPZsggp4AaABAg,2020,UCYMPRzaW0ElU5aLZKpsuEBg,ClRH1aQuP_Q,0.0000
4,UgzJCQUwyi68Uu7fexp4AaABAg,It’s the year 2020 and little did anyone think...,UC8Vswk4tmtNxb73eipXBLQg,ClRH1aQuP_Q,-0.1875

In [38]:
# slice comment id and topic id
comment_topic = comment_topic[comment_topic.columns[:-3]]

In [39]:
# slice user id, comment id, and sentiment
comment_sentiment = comment_sentiment[['user_id', 'comment_id', 'sentiment']]

In [40]:
# merge the two dataframes on comment id
user_topic = comment_topic.merge(comment_sentiment, on='comment_id').drop('comment_id', 1)

In [41]:
user_topic.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,user_id,sentiment
0,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,...,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,0.016688,UCZ5PuK7lI3nbyJzF6FqGr4A,0.0000
1,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,...,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.006675,0.405798,UCawT3eZDr1TevBhNHy-0Ilw,0.0000
2,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,0.016669,...,0.016669,0.016669,0.516595,0.016669,0.016669,0.016669,0.016669,0.016669,UCv-mX9oG3kSBcxEDHg299KA,0.0000
3,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,...,0.016671,0.016671,0.016671,0.016671,0.016671,0.016671,0.516540,0.016671,UCYMPRzaW0ElU5aLZKpsuEBg,0.0000
4,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,...,0.003047,0.003047,0.003047,0.003047,0.003047,0.003047,0.771613,0.003047,UC8Vswk4tmtNxb73eipXBLQg,-0.1875

In [42]:
user_topic[user_topic.columns[:-2]] = user_topic[user_topic.columns[:-2]].apply(lambda column: column*user_topic['sentiment'],0)

In [43]:
user_topic = user_topic.drop('sentiment', 1)

In [51]:
user_topic

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,user_id
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UCZ5PuK7lI3nbyJzF6FqGr4A
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UCawT3eZDr1TevBhNHy-0Ilw
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UCv-mX9oG3kSBcxEDHg299KA
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,UCYMPRzaW0ElU5aLZKpsuEBg
4,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,...,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.144677,-0.000571,UC8Vswk4tmtNxb73eipXBLQg
5,-0.001563,-0.001563,-0.142171,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,...,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,-0.001563,UCxlQBu6zxLgKix4AEqFQA9Q
6,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,...,0.041531,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,0.000834,UCow13dvmTlgnAsOFfXh_ysw
7,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,...,-0.000237,-0.000237,-0.000237,-0.137034,-0.000237,-0.000237,-0.000237,-0.000237,-0.000237,UChzJZI4ZT9UlsPEqcvlXGkw
8,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,...,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,UCF3S5iELTiGWSG4uC0O4PxA
9,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.026200,...,-0.000834,-0.000834,-0.020998,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,UCA_MKLGMYPPfncthtkrcN0g

for each topic:
    we have 0 and 1 tabel
        split two tables 
            combine user in each table

In [93]:
result = pd.DataFrame()

In [101]:
result

                           0                         1       topic
0   UC8Vswk4tmtNxb73eipXBLQg  UCxlQBu6zxLgKix4AEqFQA9Q  29-dislike
1   UC8Vswk4tmtNxb73eipXBLQg  UChzJZI4ZT9UlsPEqcvlXGkw  29-dislike
2   UC8Vswk4tmtNxb73eipXBLQg  UCF3S5iELTiGWSG4uC0O4PxA  29-dislike
3   UC8Vswk4tmtNxb73eipXBLQg  UCA_MKLGMYPPfncthtkrcN0g  29-dislike
4   UCxlQBu6zxLgKix4AEqFQA9Q  UChzJZI4ZT9UlsPEqcvlXGkw  29-dislike
..                       ...                       ...         ...
5   UCxlQBu6zxLgKix4AEqFQA9Q  UCF3S5iELTiGWSG4uC0O4PxA   0-dislike
6   UCxlQBu6zxLgKix4AEqFQA9Q  UCA_MKLGMYPPfncthtkrcN0g   0-dislike
7   UChzJZI4ZT9UlsPEqcvlXGkw  UCF3S5iELTiGWSG4uC0O4PxA   0-dislike
8   UChzJZI4ZT9UlsPEqcvlXGkw  UCA_MKLGMYPPfncthtkrcN0g   0-dislike
9   UCF3S5iELTiGWSG4uC0O4PxA  UCA_MKLGMYPPfncthtkrcN0g   0-dislike

[300 rows x 3 columns]

In [95]:
for column in user_topic.columns[:-1]:
    temp_df = user_topic[['user_id', column]]
    like = temp_df[temp_df[column]>0]
    dislike = temp_df[temp_df[column]<0]
    result_like = pd.DataFrame(list(itertools.combinations(like['user_id'],2)))
    result_dislike = pd.DataFrame(list(itertools.combinations(dislike['user_id'],2)))
    result_like['topic'] = column+"-like"
    result_dislike['topic'] = column+"-dislike"
    dfs = [result_like,result_dislike,result]
    result = pd.concat(dfs)

In [100]:
result = result[[0,1,'topic']]

In [102]:
result.to_csv(r'./../../../rama.txt', header=None, index=None, sep=',', mode='a')

In [59]:
import itertools

In [66]:
t =pd.DataFrame(list(itertools.combinations(user_topic.head(2)['user_id'],2)))
t['topic'] = 1

In [67]:
t

                          0                         1  topic
0  UCZ5PuK7lI3nbyJzF6FqGr4A  UCawT3eZDr1TevBhNHy-0Ilw      1

In [49]:
user_topic.to_csv("./../../../rama_data_testing.csv")

In [45]:
agg_user_topic = user_topic.groupby('user_id').agg('median')

In [46]:
agg_user_topic = agg_user_topic.reset_index()

In [47]:
agg_user_topic.head()

,user_id,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,UC8Vswk4tmtNxb73eipXBLQg,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,...,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.000571,-0.144677,-0.000571
1,UCA_MKLGMYPPfncthtkrcN0g,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,...,-0.030282,-0.000834,-0.000834,-0.020998,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834,-0.000834
2,UCF3S5iELTiGWSG4uC0O4PxA,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,...,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168,-0.004168
3,UCYMPRzaW0ElU5aLZKpsuEBg,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,UCZ5PuK7lI3nbyJzF6FqGr4A,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [52]:
agg_user_topic.topicID = agg_user_topic.topicID.astype(str)

In [54]:
user_topic_matrix = agg_user_topic.pivot(index='user_id', columns='topicID', values="sentiment")

In [55]:
user_topic_matrix = user_topic_matrix.fillna(0)

In [50]:
user_topic_matrix.head()

NameError: name 'user_topic_matrix' is not defined

In [57]:
user_topic_matrix.shape

(6074325, 30)

In [58]:
user_topic_matrix.to_parquet('./../../../user_topic_matrix.parquet.gzip', compression='gzip')