<div class="alert alert-info" style="background-color:#5d3a8e; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'> Reading datasets</h2>
</div>

In [4]:
# import libraries
import pandas as pd
import numpy as np

In [28]:
# read comment topic modeling
comment_topic = pd.read_parquet('./../../../comment_data_df_topic_modeling.parquet.gzip')

In [6]:
# read comment sentiment
comment_sentiment = pd.read_parquet('./../../../comment_data_df_sentiment.parquet.gzip')

In [8]:
comment_topic.head()

,comment_id,comment,user_id,video_id,topicID
4,UgzJCQUwyi68Uu7fexp4AaABAg,It’s the year 2020 and little did anyone think...,UC8Vswk4tmtNxb73eipXBLQg,ClRH1aQuP_Q,28
5,UgyvxSrlfJ7p4c3qFFl4AaABAg,"Little did people know, hes a tech genius",UCxlQBu6zxLgKix4AEqFQA9Q,ClRH1aQuP_Q,2
7,UgzHIjDvxP-MRm9VupN4AaABAg,i was bummed by Gelaskins. I have a 17&quot; l...,UChzJZI4ZT9UlsPEqcvlXGkw,ClRH1aQuP_Q,24
8,UgzJN2-mHNd1qRUllJV4AaABAg,I put the skin on totally wrong.,UCF3S5iELTiGWSG4uC0O4PxA,ClRH1aQuP_Q,15
9,UgxOwy95Z7ERmXlZ7Rh4AaABAg,i hate air bubbles! lol,UCA_MKLGMYPPfncthtkrcN0g,ClRH1aQuP_Q,9

In [9]:
comment_sentiment.head()

,comment_id,comment,user_id,video_id,sentiment
0,UgxxbiYbyE-8dvwdhhN4AaABAg,Who&#39;s from 2021,UCZ5PuK7lI3nbyJzF6FqGr4A,ClRH1aQuP_Q,0.0000
1,UgxG1-BosIxdVhhBaAt4AaABAg,Ahhh. So this is what dbrand looked like back ...,UCawT3eZDr1TevBhNHy-0Ilw,ClRH1aQuP_Q,0.0000
2,Ugy4sBuOaAl16zTyZA14AaABAg,MY GOD,UCv-mX9oG3kSBcxEDHg299KA,ClRH1aQuP_Q,0.0000
3,UgziFtIlBMiQnPZsggp4AaABAg,2020,UCYMPRzaW0ElU5aLZKpsuEBg,ClRH1aQuP_Q,0.0000
4,UgzJCQUwyi68Uu7fexp4AaABAg,It’s the year 2020 and little did anyone think...,UC8Vswk4tmtNxb73eipXBLQg,ClRH1aQuP_Q,-0.1875

In [29]:
# slice comment id and topic id
comment_topic = comment_topic[['comment_id', 'topicID']]

In [15]:
# slice user id, comment id, and sentiment
comment_sentiment = comment_sentiment[['user_id', 'comment_id', 'sentiment']]

In [30]:
# merge the two dataframes on comment id
user_topic = comment_topic.merge(comment_sentiment, on='comment_id').drop('comment_id', 1)

In [31]:
user_topic.head()

   topicID                   user_id  sentiment
0       28  UC8Vswk4tmtNxb73eipXBLQg   -0.18750
1        2  UCxlQBu6zxLgKix4AEqFQA9Q   -0.18750
2       24  UChzJZI4ZT9UlsPEqcvlXGkw   -0.15625
3       15  UCF3S5iELTiGWSG4uC0O4PxA   -0.50000
4        9  UCA_MKLGMYPPfncthtkrcN0g   -0.10000

In [34]:
agg_user_topic = user_topic.groupby(['user_id', 'topicID']).agg('mean')

In [41]:
agg_user_topic = agg_user_topic.reset_index()

In [50]:
agg_user_topic.head()

                    user_id  topicID  sentiment
0  UC---0N4_aTTzw3WR2S_12jg       19   0.000000
1  UC---2wjQ7dkrDLvYA0RnfIw       22   0.000000
2  UC---IBHlFC8MPm0QWw8hYag       29  -0.400000
3  UC---TH9aw220XzwT3OgyARA        0   0.563333
4  UC---TH9aw220XzwT3OgyARA       14   0.000000

In [52]:
agg_user_topic.topicID = agg_user_topic.topicID.astype(str)

In [54]:
user_topic_matrix = agg_user_topic.pivot(index='user_id', columns='topicID', values="sentiment")

In [55]:
user_topic_matrix = user_topic_matrix.fillna(0)

In [56]:
user_topic_matrix.head()

topicID,0,1,10,11,12,13,14,15,16,17,...,27,28,29,3,4,5,6,7,8,9
user_id,,,,,,,,,,,,,,,,,,,,,
UC---0N4_aTTzw3WR2S_12jg,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UC---2wjQ7dkrDLvYA0RnfIw,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UC---IBHlFC8MPm0QWw8hYag,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,-0.400000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UC---TH9aw220XzwT3OgyARA,0.563333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-0.156364,0.080556,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UC---Upouv3oLtfs8di2NFSQ,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.370833,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
user_topic_matrix.shape

(6074325, 30)

In [58]:
user_topic_matrix.to_parquet('./../../../user_topic_matrix.parquet.gzip', compression='gzip')